<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <logging/>
  <php>
    <const name="GOOD_STUNNEL_SERVER" value="localhost:4443"/>
    <const name="SELF_SIGNED_STUNNEL_SERVER" value="localhost:4444"/>
    <const name="BAD_HOSTNAME_STUNNEL_SERVER" value="localhost:4445"/>
    <const name="PHP_SERVER" value="localhost:4000"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory suffix=".php">./tests/Unit/</directory>
    </testsuite>
    <testsuite name="ssl">
      <directory suffix=".php">./tests/SSL/</directory>
    </testsuite>
  </testsuites>
</phpunit>
